{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Apex Sport{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <div class="header-wrapper">
        <div class="logo">
            <a href="{% url 'home' %}">Apex Sport </a>
        </div>

       <nav>
    <a href="{% url 'home' %}">Головна</a>

    <div class="dropdown">
        <a href="{% url 'products' %}" class="dropbtn">Товари ▾</a>
        <div class="dropdown-content">
            {% for cat in categories %}
                <a href="{% url 'category_detail' cat.id %}">{{ cat.name }}</a>
            {% endfor %}
        </div>
    </div>
    <a href="{% url 'delivery' %}">Доставка</a>
    <a href="#">Про нас</a>
</nav>

        <div class="search-box">
            <form action="#" method="get">
                <input type="text" placeholder="Пошук...">
                <button type="submit">🔍</button>
            </form>
        </div>
    </div>
</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h4>Про нас</h4>
            <p>Apex Sport — твоя енергія для нових перемог.</p>
        </div>
        <div class="footer-section">
            <h4>Клієнтам</h4>
            <p>Доставка та оплата<br>Обмін та повернення</p>
        </div>
        <div class="footer-section">
            <h4>Контакти</h4>
            <p>info@apexsport.ua<br>+380 50 777 00 00</p>
        </div>
    </div>
    <p style="text-align: center; margin-top: 40px; font-size: 0.8em; border-top: 1px solid #333; padding-top: 20px;">
        &copy; 2026 Apex Sport. Всі права захищені.
    </p>
</footer>

</body>
</html>